body {
    background-color: #222;
    color: #fff;
}

a {
    color: #00ffff;
}

a:hover {
    color: #00ff00;
}

.split {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.full {
    height: 98vh;
}

.content {
    width: 28%;
    height: 100%;
    margin: auto;
}

.whois {
    margin: auto;
    width: 40%;
}

#map {
    width: 70%;
    height: 100%;
    margin: auto;
}

input[type=text],
textarea {
    background-color: #333;
    color: #fff;
    border: 1px solid #777;
    font-size: 1.5em;
    width: 100%;
}

button {
    width: 100%;
    font-size: 1.5em;
}

h1 {
    margin-top: 0;
}